
.cbtn{

}
.cbtn:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.c-modal{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c423 C 57.6%2c389.6 172.8%2c261.6 288%2c256 C 403.2%2c250.4 460.8%2c439.4 576%2c395 C 691.2%2c350.6 748.8%2c44.6 864%2c34 C 979.2%2c23.4 1036.8%2c321.6 1152%2c342 C 1267.2%2c362.4 1382.4%2c177.2 1440%2c136L1440 560L0 560z' fill='rgba(104%2c 107%2c 109%2c 0.42)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.chips{
    border: none !important;
}
.c-form{
    color: white;
    width: 600px;
    background-color: #242B2E;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 2px solid white;
}
