body{
    background-color: #CAD5E2 !important;
}
.form-select:focus{
    border: #03203C solid 1px !important;
    box-shadow: none !important;
}
.form-control:focus{
    border: #03203C solid 1px !important;
    box-shadow: none !important;
}
.form-control:focus{
    border: #03203C solid 1px !important;
    box-shadow: none !important;
}
.form-control{
    margin-top: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.home-card{
    border-radius: 10px !important;
    /*background-color: #393B45 !important;*/
    border-bottom: #242B2E 2px solid !important;
    padding-bottom: 1px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3cpath d='M41 250L291 0L331.5 0L81.5 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M260.6 250L510.6 0L569.1 0L319.1 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M476.20000000000005 250L726.2 0L1078.7 0L828.7 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M743.8000000000001 250L993.8000000000001 0L1071.8000000000002 0L821.8000000000001 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M1426 250L1176 0L999 0L1249 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M1182.4 250L932.4000000000001 0L713.4000000000001 0L963.4000000000001 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M963.8 250L713.8 0L502.29999999999995 0L752.3 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M714.1999999999999 250L464.19999999999993 0L314.19999999999993 0L564.1999999999999 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M1235.9581949114186 250L1440 45.95819491141867L1440 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M0 250L204.04180508858133 250L 0 45.95819491141867z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1004'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1005'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.home-card:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.c-btn{
    border-radius: 25px !important;
    background-color: white !important;
    color: #03203C !important;
}
.c-btn:focus {
    display: none;
}

.c-btn:hover{
    transform: scale(1.03);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
