.form-select:focus{
    border: #03203C solid 1px !important;
    box-shadow: none !important;
}
.form-control:focus{
    border: #03203C solid 1px !important;
    box-shadow: none !important;
}
.form-control:focus{
    border: #03203C solid 1px !important;
    box-shadow: none !important;
}
.form-control{
    margin-top: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
